/ANN-CV.py
/ANN_Dropout.py
/bootstrap-5.1.3-dist
/COVID19-ANN(Dp).h5
/CSS
/Dropout_Test.py
/feature_names.pickle
/images
/JQUERY
/myenv
/perm.pickle
/PictureTemp
/Skeleton-2.0.4
/Skeleton-2.0.4.zip
/testunit.py
/__pycache__
/~